/* .container-fluid { max-width: 100%; margin: 0; padding: 0 10px; }
.container { max-width: 1440px; margin: 0 auto; padding: 0 10px; }
.row { display: flex; flex-wrap: wrap; margin: 0 -10px; } */

.container-small { max-width: 960px; }

.mbot-100 { margin-bottom: 100px; }
.mtop-100 { margin-top: 100px; }
.mbot-75 { margin-bottom: 75px; }
.mtop-75 { margin-top: 75px; }
.mbot-50 { margin-bottom: 50px; }
.mtop-50 { margin-top: 50px; }

.pbot-100 { padding-bottom: 100px; }
.ptop-100 { padding-top: 100px; }
.pbot-75 { padding-bottom: 75px; }
.ptop-75 { padding-top: 75px; }
.pbot-50 { padding-bottom: 50px; }
.ptop-50 { padding-top: 50px; }

.btn { display: inline-block; padding: 0.875rem 1rem; min-width: 200px; font-family: 'Poppins'; font-size: 1rem; font-weight: 700; line-height: 1; text-align: center; text-decoration: none; vertical-align: middle; cursor: pointer; user-select: none; border: none; border-radius: 5px; transition: color 0.15s, background-color 0.15s, border-color 0.15s, box-shadow 0.15s; }
.btn:active { transform: translateY(2px); }

@media (prefers-reduced-motion: reduce) {
    .btn { transition: none; }
}

@media only screen and (max-width: 1600px) {
    /* .container { max-width: 1140px; } */
}

@media only screen and (max-width: 1199px) {
    /* .container { max-width: 960px; } */
}

@media only screen and (max-width: 991px) {
    /* .container { max-width: 720px; } */
}

@media only screen and (max-width: 767px) {
    /* .container { max-width: 540px; } */
}

@media only screen and (max-width: 575px) {
    /* .container { max-width: 100%; } */
}

@media only screen and (max-width: 479px) {

}