<li><a href="/" {{ 'aria-current="page"' if homepagina }}>Home</a></li>
<li><a href="/over-neonweb" {{ 'aria-current="page"' if '/over-neonweb' in page.url }}>Over Neonweb</a></li>
<li><a href="/diensten" {{ 'aria-current="page"' if '/diensten' in page.url }}>Diensten</a></li>
<li><a href="/websites" {{ 'aria-current="page"' if '/websites' in page.url }}>Websites</a></li>
<li><a href="/diensten/freelance-web-developer" {{ 'aria-current="page"' if '/diensten/freelance-web-developer' in page.url }}>Freelance web developer</a></li>
<li><a href="/contact" {{ 'aria-current="page"' if '/contact' in page.url }}>Contact</a></li>