<!doctype html>
<html lang="nl">

<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <meta name="keywords" content=" {{ keywords }}">
    <link rel="canonical" href="{{ canonical }}">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta property="og:title" content="Neonweb Studio - Webbureau in Tegelen">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://neonwebstudio.nl">
    <!-- <meta property="og:image" content=""> -->

    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">

    <style>img { max-width: 100%; height: auto; object-fit: cover; }</style>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/bootsrap-grid-custom.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/css/style.css">

    {% if vervolgpagina %}
        <link rel="stylesheet" href="/css/vervolg-styles.css">
    {% endif %}

    <meta name="theme-color" content="#12B7E3">
</head>
    <body>
        <nav>
            <div class="container">
                <div class="nav-wrap">
                    <a href="/" class="logo-wrap">
                        <img src="/img/neonweb-logo-outlines-blue.svg" alt="Logo - Neonweb Studio" title="Logo - Neonweb Studio" width="250" height="90">
                    </a>

                    <menu class="nav-items">
                        {% include "../_includes/menu.html" %}
                    </menu>

                    <button class="menu-toggle" aria-label="Menu openen">
                      <span class="hamburger-line" aria-hidden="true"></span>
                      <span class="hamburger-line" aria-hidden="true"></span>
                      <span class="hamburger-line" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </nav>

        {{ content | safe }}

        <footer class="ptop-75">
            <div class="container">
                <div class="footer-content">
                    <div class="row">
                        <div class="col-lg-3 name-wrap">
                            <h2>Neonweb<br>Studio</h2>
                        </div>
                        <div class="col-lg-3 col-md-6 offset-lg-3">
                            <p>Geldersebaan 32b<br>5931JN Tegelen</p>
                            <p>
                                {% include "../_includes/emailaddress.html" %}
                            </p>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                          <menu class="footer-menu">
                            {% include "../_includes/menu.html" %}
                          </menu>
                        </div>
                    </div>
                </div>
                <div class="endpage">
                    <div class="endpage-left">
                        <menu>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Algemene voorwaarden</a></li>
                            <li><a href="/sitemap">Sitemap</a></li>
                        </menu>
                    </div>
                    <div class="endpage-right">
                        &copy; <span id="current-year"></span> Neonweb Studio
                    </div>
                </div>
            </div>
        </footer>

        <div class="mobile-menu" tabindex="-1" role="dialog">
            <div class="modal-content blue-wall">
                <div class="modal-head">
                    <button aria-label="Menu sluiten" class="close-btn">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 320 320.2" style="enable-background:new 0 0 320 320.2;" xml:space="preserve">
                            <path d="M310.6,54.7c12.5-12.5,12.5-32.8,0-45.3s-32.8-12.5-45.3,0L160,114.8L54.6,9.5C42.1-3,21.8-3,9.3,9.5s-12.5,32.8,0,45.3 l105.4,105.3L9.4,265.5c-12.5,12.5-12.5,32.8,0,45.3s32.8,12.5,45.3,0L160,205.4l105.4,105.3c12.5,12.5,32.8,12.5,45.3,0 s12.5-32.8,0-45.3L205.3,160.1L310.6,54.7z"/>
                        </svg>
                    </button>
                </div>
                <div class="logo-wrap">
                    <a href="/">
                        <img src="/img/neonweb-logo-outlines-white.svg" alt="Logo - Neonweb Studio" title="Logo - Neonweb Studio" width="250" height="90">
                    </a>
                </div>

                <menu class="nav-items">
                    {% include "../_includes/menu.html" %}
                </menu>
            </div>
        </div>

        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script src="/js/main.js"></script>
    </body>
</html>
