---
    layout: "base.html"

    canonical: "https://neonwebstudio.nl/"
    title: "Webbureau - Neonweb Studio"
    description: "Neonweb Studio maakt moderne top presterende websites en levert uitstekende service, voor maar €150 per maand!"
    keywords: "website, websites, webdesign, internet, tegelen, venlo, limburg, seo, mkb, kleine ondernemer, klein, onderneming, zaak, eigen baas, service, advies, promotioneel, promotionele website, marketing, online marketing, online, content, partner, betrouwbaar, support, budget, budgetvriendelijk, maatwerk, op maat, website op maat, informatie, data, gegevens, veilig, uniek"
---

<header class="mbot-75">
    <div class="container">
        <div class="header-content" data-aos="fade-up">
            <h1>
                Hét webbureau voor unieke en goed presterende websites!
            </h1>
            <div class="floating-btn">
                <button onclick="scrollToMain();" aria-label="Naar beneden scrollen">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M201.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 338.7 54.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg>
                </button>
            </div>
        </div>
    </div>
    <div class="background-text">
        <span>Websites</span>
        <span>Digitale media</span>
        <span>Design</span>
        <span>Development</span>
    </div>
</header>

<main id="main">
    <section class="mbot-100">
        <div class="container container-small">
            <h2 class="title-small">Op maat gemaakt</h2>
            <p>Door het leveren van 100% maatwerk ligt de focus op pixel perfecte designs en optimale prestaties. Goed geregelde SEO en hoge Google scores zorgen ervoor dat jij op internet gevonden wordt.</p>
            <p>Met een uniek aanbod aan diensten en prijs van maar €150 is een website laten maken bij Neonweb ideaal voor kleine bedrijven, ZZP'ers en het MKB.</p>
            <p>
                <a class="btn btn-primary" href="#" title="Meer informatie over Neonweb Studio">Meer informatie</a>
            </p>
        </div>
    </section>

    <section class="mbot-100">
        <div class="container">
            <div class="row about-us">
                <div class="col-lg-6 order-2 order-lg-1" data-aos="fade-right">
                    <div class="showcase-img">
                        <div class="blob-wall"></div>
                        <div class="img-wrap">
                            <!-- <img src="/img/P1060385.webp" width="800" height="1067" alt="" title="Arne Reijntjes"> -->
                            {% image './src/img/P1060385.webp', 'Arne Reijntjes', 'cs-picture', 'lazy', '(max-width: 400px) 400px, (max-width: 850px) 850px, 1920px'%}
                            <div class="blob-content blue-wall">
                                <span class="year">3+</span>
                                <span>jaar ervaring</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
                    <span role="doc-subtitle">Over ons</span>
                    <h2>Wie zijn we?</h2>
                    <p>Neonweb is de onderneming van webdesigner en developer Arne Reijntjes en specialiseert zich in het bouwen van moderne websites voor ondernemers en het MKB. Online aanwezigheid is belangrijker dan ooit en daar hoort een professionele website bij.</p>
                    <p>De service en unieke abonnementsructuur die Neonweb biedt is ideaal voor kleine bedrijven en ZZP'ers die het totaalpakket willen, maar het ook betaalbaar willen houden.</p>

                    <div class="tab-view">
                        <button class="active" data-tabtoggle="missie">Missie</button>
                        <button data-tabtoggle="visie">Visie</button>
                        <button data-tabtoggle="proces">Proces</button>
                    </div>

                    <div class="tab-content">
                        <div id="tab-missie" class="tab active">
                            <h3>Missie</h3>
                            <p>Tegenwoordig heeft iedereen een website nodig om bereikbaar te zijn en diensten te leveren. Neonweb Studio wil met behulp moderne tools en technieken de mogelijkheid bieden om tegen een scherpe prijs (die ongekend is in de webbureau wereld!) een complete website te bouwen en onderhouden. Wil je weten hoe dit kan? <a href="#">Lees hier over het verhaal van Neonweb Studio.</a></p>
                        </div>
                        <div id="tab-visie" class="tab">
                            <h3>Visie</h3>
                            <p>Een website die goed in elkaar zit spreekt mensen aan. Je product of dienst moet goed getoond worden, zodat bezoekers kunnen zien wie jij bent en waar je voor staat. Daar hoor natuurlijk bij dat je ook goed gevonden wil kunnen worden op internet. Neonweb Studio biedt het totaalplaatje voor je website, zodat jij kan focussen op je bedrijf. <a href="#">Lees hier wat Neonweb Studio allemaal voor je kan betekenen.</a></p>
                        </div>
                        <div id="tab-proces" class="tab">
                            <h3>Proces</h3>
                            <p>Neonweb Studio denkt vanaf stap 1 met je mee tot de oplevering. Wat wil je laten zien op je website? Welke pagina's moeten daarvoor komen? Hoe komt het ontwerp eruit te zien? Dit zijn allemaal vragen waar we bij stilstaan. Daarna komt het technische werk, het bouwen van de website en natuurlijk alle extra benodigdheden zoals Google Analytics. <a href="#">Lees hier meer over onze websites.</a></p>
                        </div>
                    </div>

                    <p>
                        <a class="btn btn-secondary" href="#" title="Contact opnemen met Neonweb Studio">Neem contact op</a>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="mbot-75">
        <div class="container">
            <div class="center-title">
                <h2>Webdesign en development</h2>
                <p>Neonweb Studio maakt gebruik van de modernste technieken op het gebied van design en development, zodat websites goed scoren in Google, super snel geoptimaliseerd zijn en een optimale gebruikerservaring bieden.</p>
            </div>

            <div class="row usp-big">
                <div class="col-lg-4 col-md-6 item">
                    <div class="content">
                        <div class="content-top">
                            <div class="img-wrap">
                                <img src="/img/2703934.png" title="Responsive en mobielvriendelijk" alt="Illustratie - devices" width="512" height="512">
                            </div>
                            <h3>Responsive en mobielvriendelijk</h3>
                        </div>
                        <p>Ruim 70% van het internetverkeer gebeurt op een mobiel apparaat. Daarom wordt er extra aandacht geschonken aan het perfect optimaliseren voor de mobiele ervaring.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 item">
                    <div class="content">
                        <div class="content-top">
                            <div class="img-wrap">
                                <img src="/img/809497.png" title="SEO en Google" alt="Illustratie - vergrootglas en grafiek" width="512" height="512">
                            </div>
                            <h3>SEO en Google</h3>
                        </div>
                        <p>Technische SEO (Search Engine Optimization) is belangrijk om hoog in Google te staan. Neonweb heeft dit hele proces geperfectioneerd en zorgt zo voor een goede Google score.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 item">
                    <div class="content">
                        <div class="content-top">
                            <div class="img-wrap">
                                <img src="/img/4399641.png" title="Geoptimaliseerd voor het moderne web" alt="Illustratie - snelheidsmeter" width="512" height="512">
                            </div>
                            <h3>Geoptimaliseerd voor het moderne web</h3>
                        </div>
                        <p>Alle websites worden met de hand gecodeerd en gebouwd. Er zitten geen onnodig complexe systemen achter. Hierdoor zijn alle websites supersnel (en dit helpt ook bij de Google scores).</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section_service-list">
        <div class="container">
            <div class="row">
                <div class="col-lg-6" data-aos="fade-right">
                    <div class="vertical-center illustration-wrap">
                        <img src="/img/undraw_building_websites_i78t.svg" width="876" height="661" alt="Illustratie - websites bouwen">
                    </div>
                </div>
                <div class="col-lg-6" data-aos="fade-left">
                    <h2><span class="blue-text">€150 per maand</span>, zonder kosten vooraf!</h2>
                    <p>Een complete website voor jouw onderneming. Neonweb Studio gelooft in goede service. Daarom bieden we een uniek model waar niet eenmalig betaald wordt, maar waar aan de hand van een abonnement een kwalitatief hoogstaande dienst wordt geleverd.</p>

                    <ul class="home-service-list row">
                        <li class="col-sm-6">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"> <path d="M470.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L192 338.7 425.4 105.4c12.5-12.5 32.8-12.5 45.3 0z" /> </svg>
                            <h3>Inclusief hosting + beveiliging</h3>
                            <p>Geen extra kosten voor hosting. Alles zit inbegrepen en alle verbindingen worden beveiligd met SSL.</p>
                        </li>
                        <li class="col-sm-6">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"> <path d="M470.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L192 338.7 425.4 105.4c12.5-12.5 32.8-12.5 45.3 0z" /> </svg>
                            <h3>Design & development</h3>
                            <p>Meer dan 40 uur design, bouwen en testen van een website zit inbegrepen.</p>
                        </li>
                        <li class="col-sm-6">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"> <path d="M470.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L192 338.7 425.4 105.4c12.5-12.5 32.8-12.5 45.3 0z" /> </svg>
                            <h3>Google Analytics</h3>
                            <p>Complete inzichten krijgen in de bezoekers van je website. Google Analytics 4 wordt geïnstalleerd om verkeer te meten</p>
                        </li>
                        <li class="col-sm-6">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"> <path d="M470.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L192 338.7 425.4 105.4c12.5-12.5 32.8-12.5 45.3 0z" /> </svg>
                            <h3>Klantenservice</h3>
                            <p>24/7 bereikbaar voor support.</p>
                        </li>
                        <li class="col-12">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"> <path d="M470.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L192 338.7 425.4 105.4c12.5-12.5 32.8-12.5 45.3 0z" /> </svg>
                            <h3>Gegarandeerd een snelle website!</h3>
                            <p>Neonweb studio bouwt websites op een unieke manier. In plaats van ingewikkelde en trage CMS systemen zijn alle websites 100% regel voor regel handmatig geschreven. Pagespeed scores van 95+ zijn hierdoor niet ongewoon. <a href="#">Lees hier meer over onze unieke werkwijze.</a></p>
                        </li>
                    </ul>

                    <p>
                        <a href="" class="btn btn-secondary">Bekijk al onze diensten</a>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="blue-wall mbot-75 ptop-50 pbot-50">
        <div class="container container-small">
            <blockquote>
                Voor maar <strong>€150 per maand</strong> en met een service van <strong>24/7</strong> biedt Neonweb Studio een ongeëvenaarde prijs/kwaliteit verhouding voor klanten.
            </blockquote>
        </div>
    </section>

    <section class="mbot-75">
        <div class="container">
            <div class="center-title">
                <h2>Diensten</h2>
                <p>Neonweb biedt het ontwerpen en bouwen van moderne commerciële websites met een focus op prestaties en SEO.</p>
            </div>

            <div class="services">
                <div class="item best-choice">
                    <div class="service-card">
                        <div class="card-header blue-wall">
                            <h4>Standaard</h4>
                        </div>
                        <div class="card-content">
                            <p class="service-desc">Complete website</p>
                            <div class="price-wrap">
                                <div class="price">
                                <small>€</small>
                                150
                                </div>
                                <span class="price-sub">
                                per maand
                                </span>
                            </div>

                            <ul class="item-usps">
                                <li> {% include "./_includes/circle-check.html" %} Geen kosten vooraf</li>
                                <li> {% include "./_includes/circle-check.html" %} Google Analytics</li>
                                <li> {% include "./_includes/circle-check.html" %} Inclusief hosting</li>
                                <li> {% include "./_includes/circle-check.html" %} 24/7 support</li>
                            </ul>

                            <a href="#" class="btn btn-secondary">Neem contact op</a>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="service-card">
                        <div class="card-header">
                            <h4>Maatwerk</h4>
                        </div>
                        <div class="card-content">
                            <p class="service-desc">Liever iets anders?<br>Of een eenmalige betaling?<br>Alles is te bespreken!</p>
                            <div class="price-wrap">
                                <div class="price">
                                <small>€</small>
                                --
                                </div>
                            </div>

                            <ul class="item-usps">
                                <li> {% include "./_includes/circle-check.html" %} Website op maat</li>
                                <li> {% include "./_includes/circle-check.html" %} Inclusief hosting</li>
                                <li> {% include "./_includes/circle-check.html" %} 24/7 support</li>
                            </ul>

                            <a href="#" class="btn btn-secondary">Neem contact op</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="subfooter ptop-100 pbot-100">
        <div class="container container-small">
            <div class="content">
                <span>Klaar om te beginnen?</span>
                <h2>Vraag een offerte aan!</h2>
            </div>
            <div class="contact-btn-wrap">
                <a href="" class="btn btn-primary" title="Neem contact op met Neonweb Studio">Contact</a>
            </div>
        </div>
    </section>
</main>