---
    layout: "base.html"

    vervolgpagina: true
    canonical: "https://neonwebstudio.nl/over-neonweb/"
    title: "Over Neonweb - Neonweb Studio"
    description: "Neonweb Studio maakt moderne top presterende websites en levert uitstekende service, voor maar €150 per maand!"
---

<div class="banner mbot-75">
    <div class="img-wrap">
      <img src="/img/kari-shea-1SAnrIxw5OY-unsplash-2.webp"> <!-- ALT ENZO -->
    </div>
    <div class="container">
      <div class="title-wrap">
        <h1>Over Neonweb</h1>
      </div>
    </div>
</div>

<main id="main">
  <section class="mbot-100">
      <div class="container">
          <div class="row about-us align-items-center">
              <div class="col-lg-6 order-2 order-lg-1" data-aos="fade-right">
                  <div class="showcase-img">
                      <div class="blob-wall"></div>
                      <div class="img-wrap">
                          <!-- <img src="/img/P1060385.webp" width="800" height="1067" alt="" title="Arne Reijntjes"> -->
                          {% image './src/img/P1060385.webp', 'Arne Reijntjes', 'cs-picture', 'lazy', '(max-width: 400px) 400px, (max-width: 850px) 850px, 1920px'%}
                          <div class="blob-content blue-wall">
                              <span class="year">3+</span>
                              <span>jaar ervaring</span>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
                  <span role="doc-subtitle">Neonweb Studio</span>
                  <h2>Een passie voor het internet</h2>
                  <p>Mijn naam is Arne Reijntjes en ik ben de eigenaar van Neonweb Studio. Ik ben een web designer en developer met ruim 3 jaar professionele ervaring in het bouwen van websites en online web ervaringen. Daarvoor heb ik de studie HBO ICT & Media Design afgerond met een specialisatie in Digital Publishing.</p>
                  <p>In mijn loopbaan als webdeveloper heb ik een passie ontwikkeld voor het optimaliseren en maken van corporate websites voor ondernemingen.</p>
                  <p>Mijn aanpak is echter gericht op kleine bedrijven en ZZP'ers. Zij verdienen net zo hard een goede website, maar een investering van een paar duizend euro is vaak hoog gegrepen. Daarom vraag ik geen aanschafkosten, maar een relatief klein maandbedrag.</p>
              </div>
          </div>
      </div>
  </section>

  <section class="mbot-100 text-quote">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <span role="doc-subtitle">Unieke websites voor iedereen</span>
          <h2>Speciaal voor kleine bedrijven</h2>
          <p>Waar moet je allemaal aan denken als je een website hebt? Natuurlijk over het onwerp, inhoud, bouwen en online hosten. Maar er komt nog veel meer bij kijken:</p>
          <ul class="item-checks">
            <li> {% include "./_includes/circle-check.html" %} Beveiliging</li>
            <li> {% include "./_includes/circle-check.html" %} Analytics</li>
            <li> {% include "./_includes/circle-check.html" %} SEO optimalisatie</li>
            <li> {% include "./_includes/circle-check.html" %} Google bedrijfsprofiel</li>
            <li> {% include "./_includes/circle-check.html" %} En nog veel meer</li>
          </ul>
          <p>Een website is meer dan alleen je online visitekaartje. Het is de plek waar potentiële klanten je bedrijf vinden, je product zien en contact met je kunnen opnemen. Met een moderne website en goed geregelde SEO word jij online gevonden.</p>
          <p>Neonweb Studio gaat mee met de tijd. Het gebruik van moderne technieken en tools maakt het mogelijk om als solo developer een complete site te realiseren zonder compromissen te sluiten.</p>
        </div>
        <div class="col-lg-6 quote-block-wrap">
          <div class="blue-block-quote blue-wall">
            <p>
              Een complete website voor maar €150 per maand!
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="mbot-100">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="vertical-center illustration-wrap">
            <img src="/img/undraw_terms_re_6ak4.svg" width="876" height="661" alt="Illustratie - contract tekenen">
        </div>
        </div>
        <div class="col-lg-6">
          <span role="doc-subtitle">Betaalbaar en betrouwbaar</span>
          <h2>Lage kosten, hoe dan?</h2>
          <p>Ik geloof in goede service en transparantie. Als ik een samenwerking aanga met klanten, wil ik de beste service bieden. Het is een investering vanuit mijn kant en daarmee ook een zekerheid voor klanten. Als het product niet bevalt, kunnen ze nog altijd ergens anders naartoe.</p>
          <p>Daarom doe ik mijn uiterste best om kwaliteit te leveren. Pas bij een redelijk langdurige samenwerking begint het voor mij rendabel te zijn. Voor klanten is het juist ideaal om in te stappen door de lage drempel.</p>
          <p>Daarnaast is dit gewoon wat ik het liefste doe:</p>
          <p><strong>Moderne websites bouwen voor iedereen!</strong></p>
          <p><a href="#" class="btn btn-secondary">Lees hier alle diensten van Neonweb</a></p>
        </div>
      </div>
    </div>
  </section>

  <section class="subfooter-blue blue-wall">
    <div class="container">
      <span role="doc-subtitle">Een mooie samenwerking begint met een berichtje.</span>
      <h2>Vraag vrijblijvend een offerte aan!</h2>
      <a href="#" class="btn btn-tertiary" title="Contact opnemen met Neonweb Studio">Contact</a>
    </div>
  </section>
</main>
