---
    layout: "base.html"
    vervolgpagina: true

    canonical: "https://neonwebstudio.nl/privacy-policy/"
    title: "Privacy Policy - Neonweb Studio"
    description: "Neonweb Studio maakt moderne top presterende websites en levert uitstekende service, voor maar €150 per maand!"
---

<div class="banner mbot-50">
    <div class="img-wrap">
      <img src="/img/glenn-carstens-peters-npxXWgQ33ZQ-unsplash.webp" alt="Persoon werkt op een laptop" width="1920" height="1277"> <!-- ALT ENZO -->
    </div>
    <div class="container">
      <div class="title-wrap">
        <h1>Privacy Policy</h1>
      </div>
    </div>
</div>

<section class="mbot-50">
  <div class="container">
    <p>
    Neonweb Studio, gevestigd aan Geldersebaan 32b<br>
    5931 JN Tegelen, is verantwoordelijk voor de verwerking van persoonsgegevens zoals weergegeven in deze privacyverklaring.
    </p>
    <p>Contactgegevens:</p>
    <p>https://www.neonwebstudio.nl</p>
    <p>Geldersebaan 32b<br>
    5931 JN Tegelen</p>
    
    <h3>Persoonsgegevens die wij verwerken</h3>
    <p>Neonweb Studio verwerkt je persoonsgegevens doordat je gebruik maakt van onze diensten en/of omdat je deze gegevens zelf aan ons verstrekt. Hieronder vind je een overzicht van de persoonsgegevens die wij verwerken:</p>
    <ul>
      <li>Voor- en achternaam</li>
      <li>Adresgegevens</li>
      <li>Telefoonnummer</li>
      <li>E-mailadres</li>
    </ul>
    
    <h3>Bijzondere en/of gevoelige persoonsgegevens die wij verwerken</h3>
    <p>Onze website en/of dienst heeft niet de intentie gegevens te verzamelen over websitebezoekers die jonger zijn dan 16 jaar. Tenzij ze toestemming hebben van ouders of voogd. We kunnen echter niet controleren of een bezoeker ouder dan 16 is. Wij raden ouders dan ook aan betrokken te zijn bij de online activiteiten van hun kinderen, om zo te voorkomen dat er gegevens over kinderen verzameld worden zonder ouderlijke toestemming. Als je er van overtuigd bent dat wij zonder die toestemming persoonlijke gegevens hebben verzameld over een minderjarige, neem dan contact met ons op, dan verwijderen wij deze informatie.</p>
    
    <h3>Met welk doel en op basis van welke grondslag wij persoonsgegevens verwerken</h3>
    <p>Neonweb Studio verwerkt jouw persoonsgegevens voor de volgende doelen:</p>
    <ul>
      <li>Het afhandelen van jouw betaling </li>
      <li>Je te kunnen bellen of e-mailen indien dit nodig is om onze dienstverlening uit te kunnen voeren</li>
      <li>Je te informeren over wijzigingen van onze diensten en producten</li>
      <li>Om goederen en diensten bij je af te leveren</li>
      <li>Neonweb Studio verwerkt ook persoonsgegevens als wij hier wettelijk toe verplicht zijn, zoals gegevens die wij nodig hebben voor onze belastingaangifte. </li>
    </ul>
    
    <h3>Hoe lang we persoonsgegevens bewaren</h3>
    <p>Neonweb Studio bewaart je persoonsgegevens niet langer dan strikt nodig is om de doelen te realiseren waarvoor je gegevens worden verzameld.</p>

    
    <h3>Delen van persoonsgegevens met derden</h3>
    <p>Neonweb Studio verstrekt uitsluitend aan derden en alleen als dit nodig is voor de uitvoering van onze overeenkomst met jou of om te voldoen aan een wettelijke verplichting.</p>
    
    <h3>Cookies, of vergelijkbare technieken, die wij gebruiken</h3>
    <p>Neonweb Studio gebruikt alleen technische en functionele cookies. En analytische cookies die geen inbreuk maken op je privacy. Een cookie is een klein tekstbestand dat bij het eerste bezoek aan deze website wordt opgeslagen op jouw computer, tablet of smartphone. De cookies die wij gebruiken zijn noodzakelijk voor de technische werking van de website en jouw gebruiksgemak. Ze zorgen ervoor dat de website naar behoren werkt en onthouden bijvoorbeeld jouw voorkeursinstellingen. Ook kunnen wij hiermee onze website optimaliseren. Je kunt je afmelden voor cookies door je internetbrowser zo in te stellen dat deze geen cookies meer opslaat. Daarnaast kun je ook alle informatie die eerder is opgeslagen via de instellingen van je browser verwijderen.</p>
    
    <h3>Gegevens inzien, aanpassen of verwijderen</h3>
    <p>Je hebt het recht om je persoonsgegevens in te zien, te corrigeren of te verwijderen. Daarnaast heb je het recht om je eventuele toestemming voor de gegevensverwerking in te trekken of bezwaar te maken tegen de verwerking van jouw persoonsgegevens door Neonweb Studio en heb je het recht op gegevensoverdraagbaarheid. Dat betekent dat je bij ons een verzoek kan indienen om de persoonsgegevens die wij van jou beschikken in een computerbestand naar jou of een ander, door jou genoemde organisatie, te sturen. 
    Je kunt een verzoek tot inzage, correctie, verwijdering, gegevensoverdraging van je persoonsgegevens of verzoek tot intrekking van je toestemming of bezwaar op de verwerking van jouw persoonsgegevens sturen naar:</p><p>{% include "./_includes/emailaddress.html" %}</p>
    <p>Om er zeker van te zijn dat het verzoek tot inzage door jou is gedaan, vragen wij jou een kopie van je identiteitsbewijs met het verzoek mee te sturen. Maak in deze kopie je pasfoto, MRZ (machine readable zone, de strook met nummers onderaan het paspoort), paspoortnummer en Burgerservicenummer (BSN) zwart. Dit ter bescherming van je privacy. We reageren zo snel mogelijk, maar binnen vier weken, op jouw verzoek .
    Neonweb Studio wil je er tevens op wijzen dat je de mogelijkheid hebt om een klacht in te dienen bij de nationale toezichthouder, de Autoriteit Persoonsgegevens. Dat kan via de volgende link: <a href="https://autoriteitpersoonsgegevens.nl/nl/contact-met-de-autoriteit-persoonsgegevens/tip-ons">https://autoriteitpersoonsgegevens.nl/nl/contact-met-de-autoriteit-persoonsgegevens/tip-ons</a>
    </p>
    
    <h3>Hoe wij persoonsgegevens beveiligen</h3>
    <p>Neonweb Studio neemt de bescherming van jouw gegevens serieus en neemt passende maatregelen om misbruik, verlies, onbevoegde toegang, ongewenste openbaarmaking en ongeoorloofde wijziging tegen te gaan. Als jij het idee hebt dat jouw gegevens toch niet goed beveiligd zijn of er aanwijzingen zijn van misbruik, neem dan contact op via:</p>
    {% include "./_includes/emailaddress.html" %}
  </div>
</section>
